* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(0, 132, 255);
  padding-left: 200px;
}

form {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.27) 0px 4px 16px,
    rgba(17, 17, 26, 0.292) 0px 8px 24px, rgba(17, 17, 26, 0.161) 0px 16px 56px;
}

form h1 {
  font-size: 35px;
  color: #272727;
  margin-bottom: 20px;
}

form > p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

form > p span {
  color: rgb(0, 132, 255);
  margin-right: 7px;
}

form .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

form .input label {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 3px;
  color: rgb(42, 42, 42);
}

form .input input,
select {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 12px;
  border-radius: 7px;
}

form .input input:focus {
  border: 1px solid rgb(0, 132, 255);
}

form .conditions {
  width: 100%;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form .conditions input {
  height: 15px;
  width: 15px;
}

form .conditions p span {
  color: rgb(0, 132, 255);
  cursor: pointer;
}

form .btn {
  width: 100%;
  text-align: center;
  padding: 10px;
}

form .btn button {
  outline: none;
  border: none;
  padding: 12px 80px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 60px;
}

form .dev {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#users-div {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#users-div .header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#users-div .header h1 {
  color: #272727;
  font-size: 30px;
}

#users-div .header h1 span {
  color: rgb(0, 132, 255);
}

#users-div .users {
  width: 100%;
  height: 550px;
  padding: 10px;
  background-color: #dfdfdf;
  overflow-y: scroll;
  box-shadow: inset 0 32px 32px -32px rgba(0, 0, 0, 0.168),
    inset 0 -32px 32px -32px rgba(0, 0, 0, 0.161);
}

#users-div .users .user {
  width: 100%;
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 32px rgb(0 0 0 / 9%), 0 16px -16px rgb(0 0 0 / 10%);
}

#users-div .users::-webkit-scrollbar {
  width: 0.5rem;
}

#users-div .users::-webkit-scrollbar-track {
  background-color: #dfdfdf;
}

#users-div .users::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: gray;
}

.users .user .img {
  width: 50px;
  height: 50px;
}

.users .user .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.users .user .info {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users .user .info p {
  color: gray;
  font-weight: 500;
}

.users .user .info > button {
  outline: none;
  border: none;
  padding: 8px 15px;
  background-color: #92d7ff;
  color: black;
  font-size: 14px;
  border-radius: 60px;
}

.users .user .info > button.developer {
  background-color: #92d7ff;
}

.users .user .info > button.designer {
  background-color: #f1b04c;
}

.users .user .info > button.manager {
  background-color: #39e75f;
}

.users .user .info > button.advocate {
  background-color: #e5a0c6;
}

#users-div .button {
  width: 100%;
  height: calc(100vh - 630px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#users-div .button button {
  outline: none;
  border: none;
  padding: 12px 80px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 60px;
}

.users-view {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d8f1ff;
}

.users-view.active {
  display: block;
}

.users-view .user-header {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
}

.users-view .user-header > i {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffa590;
  color: #df2c14;
  font-size: 25px;
  position: absolute;
  top: 40px;
  right: 50px;
  cursor: pointer;
}

.user-header h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.user-header h1 span {
  color: rgb(0, 132, 255);
}

.user-header .category-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-header .category-btns button {
  outline: none;
  border: none;
  background-color: rgb(0, 132, 255);
  color: white;
  border-radius: 7px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.user-header .category-btns button:hover {
  background-color: #00a2ff;
}

.users-view .users-section {
  width: 100%;
  height: 75vh;
  display: flex;
  padding: 0 50px;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 20px;
}

.users-view .users-section::-webkit-scrollbar {
  width: 0.5rem;
}

.users-view .users-section::-webkit-scrollbar-track {
  background-color: #dfdfdf;
}

.users-view .users-section::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgb(202, 202, 202);
}

.users-section .usersbox {
  flex-basis: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.usersbox .info {
  text-align: left;
  margin-bottom: 35px;
}

.usersbox .info h1 {
  font-size: 30px;
  color: #272727;
  margin-bottom: 6px;
}

.usersbox .info p {
  color: rgb(103, 103, 103);
}

.usersbox hr {
  height: 1px;
  width: 100%;
  background-color: gainsboro;
  margin-bottom: 15px;
}

.usersbox .account {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usersbox .account .address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.usersbox .account .address img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.usersbox .account button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 60px;
  font-size: 15px;
  color: black;
}

.usersbox.developer button {
  background-color: #92d7ff;
}

.usersbox.manager button {
  background-color: #39e75f;
}

.usersbox.designer button {
  background-color: #f1b04c;
}

.usersbox.advocate button {
  background-color: #e5a0c6;
}
